.rp-overlay {
    --_rp-overlay-color: rgba(0, 0, 0, 0.55);
    --_rp-overlay-opacity: 1;
    --_rp-overlay-blur: 0px;
    --_rp-overlay-z-index: 1;

    position: absolute;
    inset: 0;
    z-index: var(--_rp-overlay-z-index);
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--_rp-overlay-color);
    border-radius: inherit;
    opacity: var(--_rp-overlay-opacity);
    pointer-events: none;

    &--gradient {
        background-color: transparent;
        opacity: 1;
    }

    &--blurred {
        backdrop-filter: blur(var(--_rp-overlay-blur));
        -webkit-backdrop-filter: blur(var(--_rp-overlay-blur));
    }

    &--interactive {
        pointer-events: auto;
    }
}
