.rp-tabs {
    box-sizing: border-box;
    display: grid;
    min-width: 0;
    gap: var(--rp-spacing-4);
    font-family: var(--rp-font-family);
    color: var(--rp-color-text);

    &--disabled {
        @include disabled-state;
    }

    &--vertical {
        grid-template-columns: max-content minmax(0, 1fr);
        align-items: start;
        gap: var(--rp-spacing-5);
    }
}
