.rp-icon-button {
    width: var(--_rp-button-height);
    padding: 0;

    &__icon {
        width: 1em;
        height: 1em;
        flex-shrink: 0;
    }

    &__icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        line-height: 0;

        > :deep(svg) {
            display: block;
            width: 1em;
            height: 1em;
        }
    }

    &__spinner {
        @include spinner-icon;
    }
}

@include spinner-keyframes;
