/* Base breadcrumbs container */
.breadcrumbs {
  @apply flex items-center;

  /* Breadcrumb link */
  .breadcrumbs__link {
    @apply relative px-0.5 text-sm leading-5 font-medium no-underline opacity-100;

    --breadcrumbs-link-fg: var(--muted);
    --breadcrumbs-link-fg-current: var(--link);

    color: var(--breadcrumbs-link-fg);

    &:hover,
    &[data-hovered="true"] {
      @apply underline;
    }

    &[data-current="true"] {
      @apply opacity-100;

      color: var(--breadcrumbs-link-fg-current);
    }
  }

  /* Breadcrumb item wrapper */
  .breadcrumbs__item {
    @apply flex shrink-0 items-center justify-center gap-0.5 px-0.5;
  }

  /* Separator icon */
  .breadcrumbs__separator {
    @apply size-3 text-muted rtl:rotate-180;
  }
}
