/* Base disclosure styles */
.rp-disclosure {
  position: relative;
}

.rp-accordion__heading {
  display: flex;
}

.rp-disclosure__trigger {
  cursor: var(--rp-cursor-interactive);
  display: inline-block;
  -webkit-tap-highlight-color: transparent;

  /* Focus state */
  &[data-focus-visible="true"] {
    --rp-ring:
      var(--rp-ring-inset,) 0 0 0 var(--rp-ring-offset-width) var(--rp-ring-offset-color),
      var(--rp-ring-inset,) 0 0 0 calc(2px + var(--rp-ring-offset-width))
        var(--rp-ring-color, currentcolor);
    box-shadow: var(--rp-ring), var(--rp-shadow);
    --rp-ring-color: var(--rp-focus);
    --rp-ring-offset-color: var(--rp-background);
    --rp-outline-style: none;
    outline-style: none;
    --rp-ring-offset-width: var(--rp-focus-ring-offset);
    @media (forced-colors: active) {
      outline: 2px solid Highlight;
      outline-offset: 2px;
    }
  }

  /* Disabled state */
  &:disabled,
  &[aria-disabled="true"] {
    opacity: var(--rp-disabled-opacity);
    cursor: var(--rp-cursor-disabled);
    pointer-events: none;
    @media (forced-colors: active) {
      color: GrayText;
      border-color: GrayText;
    }
  }
}

.rp-disclosure__indicator {
  margin-inline-start: auto;
  width: calc(var(--rp-spacing) * 4);
  height: calc(var(--rp-spacing) * 4);
  flex-shrink: 0;
  color: inherit;

  /**
   * Transitions
   */
  transition-property:
    color,
    background-color,
    border-color,
    outline-color,
    text-decoration-color,
    fill,
    stroke,
    --rp-gradient-from,
    --rp-gradient-via,
    --rp-gradient-to,
    opacity,
    box-shadow,
    transform,
    translate,
    scale,
    rotate,
    filter,
    -webkit-backdrop-filter,
    backdrop-filter,
    display,
    content-visibility,
    overlay,
    pointer-events;
  transition-timing-function: var(--rp-ease, var(--rp-default-transition-timing-function));
  transition-duration: var(--rp-motion) var(--rp-duration, var(--rp-default-transition-duration));
  --rp-duration: 250ms;
  transition-duration: var(--rp-motion) 250ms;

  /* Expanded state for indicator rotation */
  &[data-expanded="true"] {
    rotate: calc(180deg * -1);
  }
}

.rp-disclosure__content {
  opacity: 0;
  height: var(--disclosure-panel-height);
  overflow: clip;

  transition:
    var(--rp-motion) height 200ms var(--rp-ease-out-quad),
    opacity 200ms var(--rp-ease-out);

  &[data-expanded="true"] {
    will-change: height, opacity;
    opacity: 1;
  }
}

.rp-disclosure__body {
  padding: calc(var(--rp-spacing) * 2);
}
