/* ==========================================================================
   Base list-box section styles
   ========================================================================== */

.rp-list-box-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
