/* ==========================================================================
   Base menu section styles
   ========================================================================== */

.rp-menu-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
