/* Radio Group base styles */
.rp-radio-group {
  @apply flex flex-col;

  /* Default orientation */
  &[data-orientation="vertical"] {
    [data-slot="radio"] {
      @apply mt-4;
    }
  }

  &[data-orientation="horizontal"] {
    @apply flex-row flex-wrap gap-4;
  }
}

/* Variant property definitions */
.rp-radio-group--primary {
  /* Default styles */
}

.rp-radio-group--secondary .rp-radio__control {
  @apply shadow-none;
  background-color: var(--radio-control-bg);

  --radio-control-bg: var(--default);
  --radio-control-bg-hover: var(--default-hover);

  /* Hover state */
  .rp-radio:has([data-slot="radio-content"][data-hovered="true"]) &,
  .rp-radio [data-slot="radio-content"][data-hovered="true"] & {
    @apply border-field-border-hover;
  }

  /* Default indicator color (unselected) */
  .rp-radio:not([data-selected]):not(:has(input:checked)) & .rp-radio__indicator:empty::before {
    background-color: var(--radio-control-bg);
  }

  /* Hover indicator color (unselected) */
  .rp-radio:has([data-slot="radio-content"][data-hovered="true"]):not([data-selected]):not(
      :has(input:checked)
    )
    & {
    .rp-radio__indicator:empty::before {
      background-color: var(--radio-control-bg-hover);
    }
  }
}
