/* Radio Group base styles */
.rp-radio-group {
  display: flex;
  flex-direction: column;

  /* Default orientation */
  &[data-orientation="vertical"] {
    [data-slot="radio"] {
      margin-top: calc(var(--rp-spacing) * 4);
    }
  }

  &[data-orientation="horizontal"] {
    flex-direction: row;
    flex-wrap: wrap;
    gap: calc(var(--rp-spacing) * 4);
  }
}

/* Variant property definitions */
.rp-radio-group--primary {
  /* Default styles */
}

.rp-radio-group--secondary .rp-radio__control {
  --rp-shadow: 0 0 #0000;
  box-shadow: var(--rp-ring), var(--rp-shadow);
  background-color: var(--radio-control-bg);

  --radio-control-bg: var(--rp-default);
  --radio-control-bg-hover: var(--rp-default-hover);

  /* Hover state */
  .rp-radio:has([data-slot="radio-content"][data-hovered="true"]) &,
  .rp-radio [data-slot="radio-content"][data-hovered="true"] & {
    border-color: var(--rp-field-border-hover);
  }

  /* Default indicator color (unselected) */
  .rp-radio:not([data-selected]):not(:has(input:checked)) & .rp-radio__indicator:empty::before {
    background-color: var(--radio-control-bg);
  }

  /* Hover indicator color (unselected) */
  .rp-radio:has([data-slot="radio-content"][data-hovered="true"]):not([data-selected]):not(
      :has(input:checked)
    )
    & {
    .rp-radio__indicator:empty::before {
      background-color: var(--radio-control-bg-hover);
    }
  }
}
