/* Base styles */
.rp-tag-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--rp-spacing);
}

.rp-tag-group__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--rp-spacing) * 1.5);
}

.rp-tag-group [slot="description"],
.rp-tag-group [data-slot="description"],
.rp-tag-group [slot="errorMessage"],
.rp-tag-group [data-slot="error-message"] {
  padding: var(--rp-spacing);
}
