/* Text field styles */
/* use textfield instead of text-field to avoid conflict with Tailwind `text-` prefix */
.rp-textfield {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  &[data-invalid="true"],
  &[aria-invalid="true"] {
    [data-slot="description"] {
      display: none;
    }
  }
}

/* Full width modifier */
.rp-textfield--full-width {
  width: 100%;

  /* Automatically make Input full width when TextField is full width */
  [data-slot="input"],
  [data-slot="textarea"] {
    width: 100%;
  }
}
